# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Packaging / installation
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Jupyter
.ipynb_checkpoints/
